*
!.gitignore
!exercises**/**
!slides**/**
!assignments**/**
!README.md
*/.ipynb_checkpoints
*/.DS_Store
making
exercises/exercises_weekn.ipynb
slides/slides_weekn.ipynb
exercises/*_sol.ipynb
exercises/data/*
*/*_unfinished*
